:root {
    --bluue:#00669F;

}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0px;
}

header p  {
    background-color: #1CD1B0;
    color: black;
    height: 38px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    margin: 0%;
    

}

header h1 {
    background-color: var(--bluue);
    color: black;
    display: block;
    height: auto;
    height: 101px;
    padding-top: 28px;
    padding-left: 28px;
    padding-bottom: 26px;
    margin: 0px;
    box-shadow: 0px 10px 7px 0px #00000040;
    margin-bottom: 154px;
}

main {
    margin: auto;
    text-align: center;
}

main article {
    width: 300px;
    height: auto;
    border-radius: 16px 16px 0px 0px;
    background-color: #F3F3F3;
    display: inline-block;
    margin: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;

}

main article div {
    height: 193px;
    background-image: url("./img/baticueva2.png");
    position: relative;
    background-size: cover;
}

main article p {
    text-align: left;
    font-size: 16px;
    padding: 0px 17px 37px 16px;
    margin: 0%;
}

main article a button {
    background-color: var(--bluue);
    color: white;
    font-size: 15px;
    width: 128.78px;
    height: 48.52px;
    margin-bottom: 18.48px;
    
}

main article h2 {
    padding-bottom: 0px;
    margin-top: 74px;
}

.image {
    background-image: url("./img/Fondo-de-colores.png");
    
}

.icon {
    position: absolute;
    top: 128px;
    left: 90px;
    border-radius: 50%;

}

.move {
    position: absolute;
    top: 14px;
    left: 21px;
    
}

footer {
    background-color: var(--bluue);
    height: 51px;
    margin-top: 151px;
}

footer p {
    color: white;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}


